*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #212428;
  background-color: #dee2e8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul, 
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font: inherit;
  color: inherit;
  background-color: initial;
  border: initial;
  cursor: pointer;
}

input {
  font: inherit;
  color: inherit;
  border: initial;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(45deg, #396adc, #264ca6);
  height: 180px;
  overflow: hidden;
}
.background__pattern {
  /* opacity: .7; */
  width: 100%;
}
.header {
  display: flex;
  align-items: center;
  margin-top: 40px;
  color: #fff;
}
.header__separator {
  margin: 0 10px 0 10px;
  color: rgba(174, 215, 251, 0.269);
  font-size: 13px;
  font-weight: 800;
}
.logo {
  
}
.logo__text {
  font-size: 18px;
  color: #aed7fb;
  font-weight: 300;
}
.logo__text--emphasis {
  font-weight: 700;
  font-style: italic;
  color: #fff;
}
.logo__text::selection,
.logo__text--emphasis::selection  {
  background-color: rgba(0, 0, 0, .1);
}

.bookmark-list {
  /* color: #aed7fb; */
  color: rgba(174, 215, 251, .95);
}
.bookmark-list__icon {
  font-size: 12px;
  margin-left: 2px;
  vertical-align: top;
  line-height: 19px;
}

.search {
  position: relative;
  margin-top: 25px;
}
.search__submit {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px 0 0 4px;
}
.search__icon {}
.search__input {
  width: 580px;
  padding: 15px 15px 15px 50px;
  border-radius: 4px;
  outline: none;
  background-color: #e9eef8;
}
.search__input:hover {
  background-color: #fff;
}
.search__input:focus {
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, .15);
}
.search__input::selection {
  background-color: rgba(0, 0, 0, .07);
}


/* ***************** */
.container {
  width: 970px;
  height: 600px;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, .05)
}
.panel {
  position: relative;
  min-width: 345px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.filter {
  font-size: 12px;
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, .08);
}
.filter__results {
  font-weight: 500;
}
.filter__results--emphasis {
  font-weight: 700;
}
.filter__sort {
  margin-left: auto;
}
.filter__button {
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 6px 10px;
  background-color: #eaebf1;
  border-radius: 4px;
}
.filter__button--active {
  background-color: #3f4143;
  color: #efeff0;
}

.job-post-list {
  max-height: 520px;
  overflow-y: scroll;
}
.job-post-list::-webkit-scrollbar{
  -webkit-appearance: none;
  width: 7px;
  background-color: rgba(0, 0, 0, .03)
}
.job-post-list::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
.job-post {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 13px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, .08);
  cursor: pointer;
}
.job-post  *::selection {
  background-color: rgba(0, 0, 0, .1);
}
.job-post--active {
  background-color: #f3f5f6;
}
.badge {
  align-self: center;
  width: 40px;
  height: 50px;
  line-height: 50px;
  font-size: 13px;
  font-weight: 700;
  background-color: #9cd053;
  text-align: center;
  border-radius: 5px;
}
.badge--xl {
  width: 53px;
  height: 65px;
  line-height: 65px;
  font-size: 20px;
  font-weight: 600;
}
.badge--1 {
  background-color: #9cd053;
}
.badge--2 {
  background-color: #5284ec;
}
.badge--3 {
  background-color: #d2d555;
}
.badge--4 {
  background-color: #c97050;
}
.job-post__content {
  margin-left: 12px;
}
.job-post__title {
  font-size: 13px;
}
.job-post__company {
  font-style: italic;
  line-height: 18px;
}
.job-post__info {
  display: flex;
  align-items: center;
  column-gap: 15px;
  color: #a0a0a5;
  font-weight: 500;
}
.job-post__type {}
.job-post__salary {}
.job-post__location {}
.job-post__icon {
  font-size: 10px;
}
.job-post__meta {
  flex-grow: 1;
  align-self: flex-start;
  text-align: end;
  font-size: 10px;
}
.job-details__date,
.job-post__date {
  font-size: 10px;
  font-weight: 600;
  color: rgb(137 137 139 / 85%);;
}
.job-details__date--md,
.job-post__date--md {
  font-size: 12px;
  font-weight: 600;
}
.bookmark {
  font-size: 14px;
  color: #d6dbe0;
  margin-bottom: 4px;
}
.bookmark--xl {
  font-size: 18px;
  margin: initial;
}

.pagination {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-top: 1px solid rgba(0, 0, 0, .08);
  margin-top: auto;
}
.pagination__button {
  font-size: 10px;
  font-weight: 600;
  color: #a3a6a6;
  background-color: #f3f4f6;
  border-radius: 100px;
  padding: 5px 8px;
}
.pagination__icon {
  font-size: 9px;
  margin-left: 2px;
}


.job-details {
  position: relative;
  background-color: #eff0f4;
  flex-grow: 1;
}
.job-details__background {
  position: relative;
  padding: 20px;
  height: 170px;
}

.job-details__img {
  position: absolute;
  width: 100%;
  height: 160px;
  object-fit: cover;
  z-index: 0;
}
.job-details__content {
  display: flex;
  position: relative;
  z-index: 1;
  padding-top: 110px;
}
.job-details__content::before {
  content: "";
  height: 160px;
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.15));
  z-index: -1;
}
.job-details__col-left {
  padding-left: 40px;
}
.job-details__col-right {
  margin-left: 15px;
}
.job-details__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}
.job-details__title {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}
.job-details__company {
  color: #fff;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  opacity: .8;
}
.job-details__description {
  margin-top: 15px;
  font-size: 13px;
  font-weight: 500;
  color: #646567;
  line-height: 1.4;
  width: 450px
}
.job-details__info {
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-size: 12px;
  font-weight: 500;
  color: #667480;
  margin-top: 10px;
}
.job-details__icon {
  font-size: 10px;
  color: #a3a6a8;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .03);
  margin-right: 5px;
}
.apply {
  position: absolute;
  top: 12px;
  right: 12px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  background-color: #3e6fd5;
  border-radius: 3px;
  padding: 5px 9px;
  color: rgba(255, 255, 255, .9);
  z-index: 2;
}
.apply__icon {
  font-size: 8px;
  color: rgba(255, 255, 255, .8);
  vertical-align: top;
  line-height: 12px;
}


.job-details__others {
  margin-top: 40px;
}
.job-details__footer {
  font-size: 11px;
  font-weight: 500;
  color: #a6a4a6;
  margin: 40px 40px 0 40px;
  border-top: 1px solid #c9cbcd;
  padding-top: 15px;
}

.qualification,
.reviews {
  display: flex;
  column-gap: 30px;
}
.qualification__col-left,
.reviews__col-left {
  padding-left: 40px;
  min-width: 200px;
}
.qualification__col-right, 
.reviews__col-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.qualification__skills {
  gap: 5px;
}
.qualification__second-heading,
.reviews__second-heading {
  font-weight: 600;
  color: #181c1c;
}
.qualification__paragraph,
.reviews__paragraph {
  font-size: 13px;
  font-weight: 500;
  color: #646567;
}
.skill-tag {
  font-size: 13px;
  font-weight: 500;
  color: #727b83;
  padding: 5px 9px;
  border-radius: 3px;
  background-color: #e6eaed;
}

.reviews {
  margin-top: 40px;
}
.reviews__col-right {
  gap: 20px;
}
.review-quote {
  position: relative;
  z-index: 0;
  font-size: 13px;
  font-weight: 500;
  font-style: italic;
  color: #818386;
  width: 160px;
}
.review-quote::before {
  content: "“";
  font-size: 50px;
  color: #d0d4d7;
  position: absolute;
  top: -10px;
  left: -3px;
  z-index: -1;
  line-height: 47px;
}


/* SPINNER */
@keyframes spinner {
  0% {
      transform: translateX(-50%) rotate(0deg);
  }
  
  100% {
      transform: translateX(-50%) rotate(360deg);
  }
}

.spinner {
  display: none;
  position: absolute;
  left: 50%;
  top: 46%;
  transform: translateX(-50%) translateZ(0);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border-top: 7px solid #e2e7e9;
  border-right: 7px solid #e2e7e9;
  border-bottom: 7px solid #e2e7e9;
  border-left: 7px solid #ccd1d3;
  animation: spinner 1s infinite linear;
}
.spinner--visible {
  display: block;
}
