*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #212428;
  background-color: #dee2e8;
}

ul, 
ol {
  list-style: none;
}

button {
  font: inherit;
  color: inherit;
  background-color: initial;
  border: none;
}